* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Press Start 2P";
    background: skyblue;
}
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}
#main {
    grid-area: main;
    background-color: #ffffff;
}
#new-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    border-top: 1px solid #3f3f3f;
}
#messages-list {
    padding: 5px 0 0 5px;
    overflow: hidden;
    height: 100%;
}
#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
    background-color: #f2f3f4;
}
li {
    color: rgb(99, 139, 251);
    font-size: 22px;
    line-height: 1;
    margin: 10px 0;
}
#new-message input{
    width: 50%;
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
    outline: none;
    font-size: 20px;
}
#messages-list p{
    background-color: rgb(99, 139, 251);
    color: #ffffff;
    font-size: 19px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
    width: 100%;
    float: right;
    margin: 10px 0;
    border-radius: 10px;
}